NEXT_PUBLIC_SITE_NAME="My Career NJ"
NEXT_PUBLIC_ENVIRONMENT=[ENVIRONMENT]
NEXT_PUBLIC_FEATURE_MULTILANG=false
NEXT_PUBLIC_FEATURE_CAREER_PATHWAYS=true
NEXT_PUBLIC_FEATURE_PINPOINT=true
NEXT_PUBLIC_FEATURE_SHOW_PINPOINT_SEGMENTS=true
NEXT_PUBLIC_FEATURE_CAREER_NAVIGATOR=true
NEXT_PUBLIC_FEATURE_BETA=true
NEXT_PUBLIC_FEATURE_BETA_MESSAGE="My Career NJ is in beta. You can send feedback and comments to us through our [contact form](https://docs.google.com/forms/d/e/1FAIpQLScAP50OMhuAgb9Q44TMefw7y5p4dGoE_czQuwGq2Z9mKmVvVQ/viewform)."
NEXT_PUBLIC_SIGNUP_FOR_UPDATES=true
NEXT_PUBLIC_SENTRY_DSN=[SENTRY_DSN]